/**
 * /* Generic CSS from Jeremy's original table
 *
 * @format
 */

.react-bootstrap-table table {
  table-layout: auto;
}
#pageDropDown {
  margin-left: 1em;
}

.react-bootstrap-table-pagination-list {
  display: flex;
  justify-content: flex-end;
}
.react-bootstrap-table-pagination-list li:last-child {
  margin-right: 1em;
}

/** @format */
.purchaser-table-container {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  margin-left: 10vw;
  margin-right: 10vw;
}

.purchaser-table-container::-webkit-scrollbar {
  display: none;
}

.activity-graph {
  height: 30vh;
}

/* Freeze 1st column */
.purchaser-table-container
  .react-bootstrap-table
  table
  > tbody
  > tr
  > td:nth-child(1),
.purchaser-table-container
  .react-bootstrap-table
  table
  > thead
  > tr:nth-child(1)
  > th:nth-child(1) {
  background-color: #ccc;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
}

.purchaser-table-container .react-bootstrap-table-pagination,
.purchaser-table-container .react-bootstrap-table-pagination-list {
  position: relative;
  min-height: 300px;
}

@media (max-width: 767px) {
  .purchaser-table-container .react-bootstrap-table-pagination {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 1;
  }
}
