/** @format */
.purchaser-table {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  margin: auto;
}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 100px;
  min-width: 100px;
}
.normal-col {
  width: 100px;
  min-width: 100px;
}
.activity-graph {
  height: 30vh;
}

.react-bootstrap-table table > tbody > tr > td:nth-child(1),
.react-bootstrap-table table > thead > tr:nth-child(1) > th:nth-child(1) {
  background-color: #ccc;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .react-bootstrap-table table {
    width: 300px;
  }
  .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
  }
  .first-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
  .second-col {
    padding-left: 400px;
  }
}
