/** @format */
.my-listings-container {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  margin-left: 10vw;
  margin-right: 10vw;
}

.my-listings-container::-webkit-scrollbar {
  display: none;
}

.activity-graph {
  height: 30vh;
}

/* Freeze 1st column */
.my-listings-container
  .react-bootstrap-table
  table
  > tbody
  > tr
  > td:nth-child(1),
.my-listings-container
  .react-bootstrap-table
  table
  > thead
  > tr:nth-child(1)
  > th:nth-child(1) {
  background-color: #ccc;
  position: sticky;
  position: -webkit-sticky;
  left: -2px;
  z-index: 1;
}

.my-listings-container .react-bootstrap-table-pagination,
.my-listings-container .react-bootstrap-table-pagination-list {
  min-height: 300px;
}

@media (max-width: 767px) {
  .my-listings-container .react-bootstrap-table-pagination {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 1;
  }
}
