.btn-category::first-letter {
  text-transform: capitalize;
}
.categories-container{
  /* background-color: var(#F8F9FA); */
  background-color:#F8F9FA;
  border-radius: 25px;
  border-radius: 25px;
  padding: .5em
  /* background-color: red; */
}


/* 
.category .btn-category:nth-of-type(odd) {
  background-color: yellow;
}

.category .btn-category:nth-of-type(even) {
  background-color: orange;
} */
