.img-fluid.ending-soon-image {
  border-radius: calc(2rem - 1px);
  height: 25rem;
}

.ending-soon-container{
  background-color: var(--palette-lightOrange);
  border-radius: 25px;
  padding:.5em;
  outline: none !important;
  box-shadow: none;
}

.ending-soon-container .btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none;
}
.ending-soon-container .btn{
  color:var(--palette-darkBlue)
}



/* div .container-sm{
  background-color: #F1F8FD;
} */

/* .see-more:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.see-more:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
  transition: none;
} */

.listings-card-row {
  /* flex-wrap: nowrap; */
  overflow: auto;
}

@media screen and (min-width: 750px) {
  .listings-card-row {
    overflow: hidden;
  }
}

.figure-caption::first-letter {
  text-transform: capitalize;
}

#img-overlay {
  position: absolute;
  bottom: 35%;
  background: rgb(255, 255, 255);
  color: black;
  width: fit-content;
  transition: 0.5s ease;
  font-size: 0.55rem;
  text-align: left;
  padding: 0 5px 0 5px;
  border-radius: 4px;
  align-self: center;
  margin-left: 10%;
}

#time-left-number {
  font-weight: bold;
}

.order-progress-label {
  font-size: 0.65rem;
  margin-top: 0.5%;
}
