.latest-listing-container{
  background-color: var(--palette-lightPurple);
  border-radius: 25px;
  padding:1em 1em 1em
  /* background-color: red; */
}

.latest-listing-container .btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none;
  
}

 .latest-listing-container .btn{
  color:var(--palette-darkBlue)
}