.latest-list-image {
  width: 100%;
  /* height: auto; */
  height: 60%;
}

.latest-list-card {
  /* display: flex;
  flex-direction: column;
  height: 50%; */
}

.latest-listings-card-row {
  /* flex-wrap: nowrap; */
  overflow: auto;
}

@media screen and (min-width: 750px) {
  .latest-listings-card-row {
    overflow: hidden;
  }
}
