.latest-list-image {
  width: 100%;
  height: auto;
}

.latest-listings-card-row {
  /* flex-wrap: nowrap; */
  overflow: auto;
}

@media screen and (min-width: 750px) {
  .latest-listings-card-row {
    overflow: hidden;
  }
}
