/** @format */
.infinite-scroll-container {
  margin-top: 2vh;
  margin-left: auto;
}
.infinite-scroll-container::-webkit-scrollbar {
  display: none;
}

.img-fluid.ending-soon-image {
  border-radius: calc(2rem - 1px);
  height: 10rem;
}

.listings-card-row {
  /* flex-wrap: nowrap; */
  overflow: auto;
}

@media screen and (min-width: 750px) {
  .listings-card-row {
    overflow: hidden;
  }
}

.figure-caption::first-letter {
  text-transform: capitalize;
}

#img-overlay {
  position: absolute;
  bottom: 35%;
  background: rgb(255, 255, 255);
  color: black;
  width: fit-content;
  transition: 0.5s ease;
  font-size: 0.55rem;
  text-align: left;
  padding: 0 5px 0 5px;
  border-radius: 4px;
  align-self: center;
  margin-left: 10%;
}

#time-left-number {
  font-weight: bold;
}

.order-progress-label {
  font-size: 0.65rem;
  margin-top: 0.5%;
}


.viewAllListingsCategoriesContainer{
  background-color:#F8F9FA;
  border-radius: 25px;
  padding: 0 .5em .5em;
}

.listingsContainer{
  margin-top: 25px;
  background-color: var(--palette-lightPurple);
  border-radius: 25px;
  padding: 0 .5em .5em
}