.btn-category::first-letter {
  text-transform: capitalize;
}

/* 
.category .btn-category:nth-of-type(odd) {
  background-color: yellow;
}

.category .btn-category:nth-of-type(even) {
  background-color: orange;
} */
