:root {
  --mutedText-light: #cdcdcd;
  --mutedText-med: #b6b4b4;
  --mutedText-dark: #9c9b9b;
  --headerBackground: hsl(228, 21%, 28%);
  --palette-lightBlue: #F1F8FD;
  --palette-lightPurple: #E2ECFD;
  --palette-medPurple: #C7D9FF;
  --palette-darkPurple: #7E9CE2;
  --palette-lightOrange: #FEE0D7;
  --palette-medOrange: #FB9A80;
  --palette-darkOrange: #F58764;
  --palette-lightYellow: #FFF9EA;
  --palette-medYellow: #FDEED1;
}
/* Expample: 
.header{
color: var(--palette-medYellow)
*/



/**
 * /* .App {
 *   text-align: center;
 * }
 * 
 * .App-logo {
 *   height: 40vmin;
 *   pointer-events: none;
 * }
 * 
 *   }
 * }
 * 
 * .App-header {
 *   background-color: #282c34;
 *   min-height: 100vh;
 *   display: flex;
 *   flex-direction: column;
 *   align-items: center;
 *   justify-content: center;
 *   font-size: calc(10px + 2vmin);
 *   color: white;
 * }
 * 
 * .App-link {
 *   color: #61dafb;
 * }
 * 
 *   }
 *   to {
 *     transform: rotate(360deg);
 *   }
 * }
 *
 * @format
 * @media (prefers-reduced-motion: no-preference) { .App-logo { animation: App-logo-spin infinite 20s linear;
 * @keyframes App-logo-spin { from { transform: rotate(0deg);
 */

body{
  background-color: var(--palette-lightYellow);
}

.payment-form-progress-bar {
  background-color: var(--headerBackground);
}
.payment-form-progress-bar button {
  background-color: transparent;
  border: none;
  color: white;
}
.ProfilePg-ListingsTable {
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: scroll;
}
.ProfilePg-PurchasesTable {
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: scroll;
}

.ProfilePg-PurchasesTable .col {
  height: 100px;
}
