:root{
--fadedDescription: #CDCDCD;
--headerBackground: #383e56;
}

/**
 * /* .App {
 *   text-align: center;
 * }
 * 
 * .App-logo {
 *   height: 40vmin;
 *   pointer-events: none;
 * }
 * 
 *   }
 * }
 * 
 * .App-header {
 *   background-color: #282c34;
 *   min-height: 100vh;
 *   display: flex;
 *   flex-direction: column;
 *   align-items: center;
 *   justify-content: center;
 *   font-size: calc(10px + 2vmin);
 *   color: white;
 * }
 * 
 * .App-link {
 *   color: #61dafb;
 * }
 * 
 *   }
 *   to {
 *     transform: rotate(360deg);
 *   }
 * }
 *
 * @format
 * @media (prefers-reduced-motion: no-preference) { .App-logo { animation: App-logo-spin infinite 20s linear;
 * @keyframes App-logo-spin { from { transform: rotate(0deg);
 */

 .price-breakdown{
   margin: 0px 5px 0px;
   text-align: center;
 }
.price-breakdown span{
  height: 60px;
  line-height: 60px;
}
 .price-breakdown-container{
  display: inline-flex;
   flex-direction: row;
   justify-content: center;
 } 

 .faded-description{
   color: var(--fadedDescription)
 }

 .payment-form-progress-bar{
   background-color: var(--headerBackground);
 }
 .payment-form-progress-bar button{
   background-color: transparent;
   border:none;
   color:white;
 }
 .ProfilePg-ListingsTable{
    margin-left:auto;
   margin-right:auto;
   height:60vh;
   overflow:scroll;
 }
 .ProfilePg-PurchasesTable{
   margin-left:auto;
   margin-right:auto;
   height:60vh;
   overflow:scroll;
 }

 .ProfilePg-PurchasesTable .col{
   height:100px;
 }