@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@600&display=swap');/** @format */

:root {
  --mutedText-light: #cdcdcd;
  --mutedText-med: #b6b4b4;
  --mutedText-dark: #9c9b9b;
  --headerBackground: hsl(228, 21%, 28%);
  --palette-lightBlue: #f1f8fd;
  --palette-lightPurple: #e2ecfd;
  --palette-medPurple: #c7d9ff;
  --palette-darkPurple: #7e9ce2;
  --palette-lightOrange: #fee0d7;
  --palette-medOrange: #fb9a80;
  --palette-darkOrange: #f58764;
  --palette-lightYellow: #fff9ea;
  --palette-medYellow: #fdeed1;
  --palette-darkBlue: #202235;
}
/* Expample: 
.header{
color: var(--palette-medYellow)
*/

/**
 * /* .App {
 *   text-align: center;
 * }
 * 
 * .App-logo {
 *   height: 40vmin;
 *   pointer-events: none;
 * }
 * 
 *   }
 * }
 * 
 * .App-header {
 *   background-color: #282c34;
 *   min-height: 100vh;
 *   display: flex;
 *   flex-direction: column;
 *   align-items: center;
 *   justify-content: center;
 *   font-size: calc(10px + 2vmin);
 *   color: white;
 * }
 * 
 * .App-link {
 *   color: #61dafb;
 * }
 * 
 *   }
 *   to {
 *     transform: rotate(360deg);
 *   }
 * }
 *
 * @format
 * @media (prefers-reduced-motion: no-preference) { .App-logo { animation: App-logo-spin infinite 20s linear;
 * @keyframes App-logo-spin { from { transform: rotate(0deg);
 */

.payment-form-progress-bar {
  background-color: var(--headerBackground);
}
.payment-form-progress-bar button {
  background-color: transparent;
  border: none;
  color: white;
}
.ProfilePg-ListingsTable {
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: scroll;
}
.ProfilePg-PurchasesTable {
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: scroll;
}

.ProfilePg-PurchasesTable .col {
  height: 100px;
}
.create-listing-header {
  color: white;
  font-size: 2rem;
}

.groupBuyLogoText{
font-family: 'Recursive', sans-serif;
font-weight: 600;
display:inline-block
}